<!doctype html>
<html lang="en-us">
<head>

	<meta charset="utf-8">
	<title>Drawing lots</title>

	<link rel="stylesheet" href="main.css" type="text/css" media="screen" />
  <script src="javascripts/jquery-1.7.2.min.js"></script>
  <script src="javascripts/underscore-min.js"></script>
  <script src="javascripts/backbone-min.js"></script>
  <script src="javascripts/application.js"></script>  
  
  <script type="text/template" id="entrant-template">
    <%= name %>
    <% if(winner == true){%>
      <span class="winner">WINNER</span>
        <% }; %>
  </script>
  
  <script type="text/template" id="entrants-list-template">
    <h1>Drawing lots</h1>
    <form id="new_entry">
      <input type="text" name="name" id="new_entry_name">
      <input type="submit" value="Add">
    </form>
    <ul id="entries">
    </ul>
    <button id="draw">Draw Winner</button>
</script>
</head>
<body>
  <div id="container">
  </div>
</body>
</html>




