<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Backbone Tunes</title>

    <link rel="stylesheet" href="stylesheets/screen.css" media="screen, projection">
    <link rel="stylesheet" href="stylesheets/extra.css" media="screen, projection">

    <script src="javascripts/jquery-1.7.2.min.js"></script>
    <script src="javascripts/underscore-min.js"></script>
    <script src="javascripts/backbone-min.js"></script>
    <script src="javascripts/application.js"></script>
    
    <script type="text/template" id="library-template">
      <h1> Music Library</h1>
      <ul class="albums"></ul>
    </script>

    <script type="text/template" id="album-template">
      <button class="queue add"><img src="/images/add.png"></button>
      <button class="queue remove"><img src="/images/remove.png"></button>
      <span class="album-title"><%= title %></span>
      <span class="artist-name"><%= artist %></span>
      <ol class="tracks">
        <% _.each(tracks, function(track) { %>
          <li><%= track.title %></li>
        <% }); %>
      </ol>
    </script>
    

  </head>

  <body>
    <div id="container">
    </div>
  </body>
</html>
