<!doctype html>
<html lang="en-us">
<head>

	<meta charset="utf-8">
	<title>Drawing lots</title>

	<link rel="stylesheet" href="main.css" type="text/css" media="screen" />
	<script src="javascripts/jquery-1.7.2.min.js"></script>
    <script src="javascripts/underscore-min.js"></script>
    <script src="javascripts/backbone-min.js"></script>
    <script src="javascripts/application.js"></script>
    
</head>
<body>
<div id="container">
  <h1>Drawing lots</h1>
  <form id="new_entry">
    <input type="text" name="name" id="new_entry_name">
    <input type="submit" value="Add">
  </form>
  <ul id="new_entry">
    <li>Andrew Jackson<span class="winner">WINNER</span></li>
    <li>Theodore Roosevelt</li>
    <li>Thomas Jefferson<span class="winner highlight">WINNER</span></li>
    <li>Bill Clinton<span class="winner">WINNER</span></li>
    <li>Barack Obama</li>
  </ul>
  <button id="draw">Draw Winner</button>
</div>
</body>
</html>

<script type="text/template" id="entrantsList-template">
      <h1> Music Library</h1>
      <ul class=""></ul>
    </script>

  <script type="text/template" id="entrant-template">
      <span class="name"><%= name %></span>
      <span class="winner"><%= winner %></span>
    </script>
  